<% include partials/header.ejs %>

<form action="/login" method="post">
	<input type="email" name="email" placeholder="your email" />
	<input type="password" name="password" placeholder="your password" />
	<button type="submit">Log In</button>
</form>

<% include partials/footer.ejs %>