<% include partials/header.ejs %>

<form action="/signup" method="post">
	<input type="text" name="name" placeholder="your name" />
	<input type="email" name="email" placeholder="your email" />
	<input type="password" name="password" placeholder="your password" />
	<button type="submit">Sign Up</button>
</form>

<% include partials/footer.ejs %>